.logo-img{
  a{
    img{
      max-width: 250px;
    }
  }

  @media screen and(max-width: 1650px){
    a{
      img{
        max-width: 150px;
      }
    }
  }
}
.footer_logo{
  a{
    img{
      max-width: 150px;
    }
  }
}
.about_area{
  @media screen and(max-width: 991px){
    background-image: url(../img/about/about.jpg)!important;
    /* background: #1f1f1f; */
    position: relative!important;
    background-position: center!important;
    background-origin: initial!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    .container{
      color: black!important;
    }
  }
}